@import url('https://fonts.googleapis.com/css?family=Alata|Rock+Salt&display=swap');

.navbar-brand {
    color: orangered;
    font-family: 'Rock Salt', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
}

